@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1500px;
}

.paragraph {
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;

  /* width: 29%; */
}


.line {
  display: block;
  height: 7px;
  width: 50px;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #FD749B;
}
/* 
==================================================================
                    HEADER
==================================================================
*/

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  padding-top: 55px;
  padding-bottom: 55px;
}

/* 
==================================================================
                    LOGO
==================================================================
*/

.logo {
  display: flex;
}

.logo__icon {
  position: relative;
}

/* .logo__cloud {
  
} */

.logo__letter {
  position: absolute;
  left: 14px;
  top: 6px;
}


/* 
==================================================================
                    NAVIGATION
==================================================================
*/

.navigation {
  flex-basis: 30%;
}

.navigation ol {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__item {
  list-style-type: none;
}

.nav__item a {
  font-size: 14px;
  font-weight: 700;
  color: #333;
  line-height: 20px;
  text-decoration: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
  flex-basis: 25%;
}

.sell__bitcoin {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;

  color: #333;
}

.sell__bitcoin::after {
  content: url('../images/icons/small__size/Dropdown_Button.svg');
}

.login__button {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  padding: 17px 57px;
  margin-top: -20px;

  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  border-radius: 100px;
}


/* 
==================================================================
                    SECTION BANNER
==================================================================
*/
.banner {
  padding-bottom: 145px;
}

.banner__BG {
  background-image:  linear-gradient(174.48deg, #FD749B -12.41%, #281AC8 88.56%);
  padding-top: 100px;
  padding-bottom: 100px;
  clip-path: url(#my-clip-path);
}

.banner__content {
  display: flex;
  justify-content: space-between;
}

.banner__item {
  flex-basis: 40%;
}

/* text */

.banner__text {
  padding-left: 60px;
  width: 40%;
}

.banner__path p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;

  color: #fff;
}

.banner__slogan {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;

  color: #fff;
}

.banner__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;

  color: #fff;
}

/* image */

.banner__image {
  width: 55%;
}

/* 
==================================================================
                    SECTION TEXT
==================================================================
*/
.gradient--title {
  background: linear-gradient(181deg, #FD749B 33.59%, #281AC8 97.56%);

  font-size: 28px;
  font-weight: 700;
  line-height: 65px;
}

.gradient--title p {
  background: white; /* Белый цвет фона */
  mix-blend-mode: screen; /* Режим наложе */
}

.gradient--text {
  background: linear-gradient(181deg, #FD749B -12.41%, #281AC8 88.56%);
}

.gradient--text p {
  background: white; /* Белый цвет фона */
  mix-blend-mode: screen; /* Режим наложе */
}

.simple__text {
  margin: auto;
  width: 30%;
}

.intro {
  font-size: 18px;
  font-weight: 700;
}

.author {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;

  padding-bottom: 70px;
}

/* 
==================================================================
                    SECTION ABOUT
==================================================================
*/

.about__border {
  /* border: 1px solid black; */
  border-radius: 30px;
  padding-top: 30px;
  padding-bottom: 50px;
  margin: auto;
  width: 80%;

  box-shadow: 
    -1px 0 0 1px rgba(255, 46, 175, 0.8),
    -1px -1px 0 1px rgba(48, 32, 255, 0.3), 
    -1px 1px 0 1px rgba(48, 32, 255, 1), 
    0 -1px 0 1px rgba(48, 32, 255, 1), 
    0 1px 0 1px rgba(48, 32, 255, 1), 
    1px -1px 0 1px rgba(48, 32, 255, 1), 
    1px 1px 0 1px rgba(48, 32, 255, 1), 
    1px 0 0 1px rgba(255, 46, 175, 1);
}

.about__icons {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 300px;
  padding: 20px 0;
}

.about__icon {
  margin: auto;
}

.about__simple--text {
  width: 40%;
  margin: auto;
}

/* 
==================================================================
                    SECTION HISTORY
==================================================================
*/

.history {
  padding-top: 100px;
}

.history__achieving {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.history__title--time {
  font-size: 32px;
  line-height: 30px;
  font-weight: 700;

  padding-bottom: 40px;
  padding-top: 40px;

  color: #FD749B;
}

.history__line--item {
  padding: 40px;
}

.history__tree {
  flex: 0 1 20%;
}

.history__simple--left {
  width: 75%;
  margin-right: 0;
  margin-left: 25%;
}

.left__side {
  display: flex;
  flex: 0 1 100%;
  flex-direction: column;
  padding: 0 30px;
  text-align: right;
}

.right__side {
  display: flex;
  flex: 0 1 100%;
  flex-direction: column;
  text-align: left;
  padding: 0 30px;
}

.history__tobecontinue {
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
}