@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1500px;
}

.paragraph {
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;

  /* width: 29%; */
}


.line {
  display: block;
  height: 7px;
  width: 50px;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #FD749B;
}
/* 
==================================================================
                    HEADER
==================================================================
*/

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  padding-top: 55px;
  padding-bottom: 55px;
}

/* 
==================================================================
                    LOGO
==================================================================
*/

.logo {
  display: flex;
}

.logo__icon {
  position: relative;
}

/* .logo__cloud {
  
} */

.logo__letter {
  position: absolute;
  left: 14px;
  top: 6px;
}


/* 
==================================================================
                    NAVIGATION
==================================================================
*/

.navigation {
  flex-basis: 30%;
}

.navigation ol {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__item {
  list-style-type: none;
}

.nav__item a {
  font-size: 14px;
  font-weight: 700;
  color: #333;
  line-height: 20px;
  text-decoration: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
  flex-basis: 25%;
}

.sell__bitcoin {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;

  color: #333;
}

.sell__bitcoin::after {
  content: url('../images/icons/small__size/Dropdown_Button.svg');
}

.login__button {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  padding: 17px 57px;
  margin-top: -20px;

  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  border-radius: 100px;
  border: none;
}


/* 
==================================================================
                    SECTION BANNER
==================================================================
*/
.banner {
  padding-bottom: 145px;
}

.banner__BG {
  background-image:  linear-gradient(174.48deg, #FD749B -12.41%, #281AC8 88.56%);
  padding-top: 100px;
  padding-bottom: 100px;
  clip-path: url(#my-clip-path);
}

.banner__content {
  display: flex;
  justify-content: space-between;
}

.banner__item {
  flex-basis: 40%;
}

/* text */

.banner__text {
  padding-left: 60px;
  width: 40%;
}

.banner__path p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;

  color: #fff;
}

.banner__slogan {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;

  color: #fff;
}

.banner__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;

  color: #fff;
}

/* image */

.banner__image {
  width: 55%;
}

/* 
==================================================================
                    SECTION TEXT
==================================================================
*/
.gradient--title {
  background: linear-gradient(181deg, #FD749B 33.59%, #281AC8 97.56%);

  font-size: 28px;
  font-weight: 700;
  line-height: 65px;
}

.gradient--title p {
  background: white; /* Белый цвет фона */
  mix-blend-mode: screen; /* Режим наложе */
}

.gradient--text {
  background: linear-gradient(181deg, #FD749B -12.41%, #281AC8 88.56%);
}

.gradient--text p {
  background: white; /* Белый цвет фона */
  mix-blend-mode: screen; /* Режим наложе */
}

.simple__text {
  margin: auto;
  width: 30%;
}

.intro {
  font-size: 18px;
  font-weight: 700;
}

.author {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;

  padding-bottom: 70px;
}

/* 
==================================================================
                    SECTION ABOUT
==================================================================
*/

.about__border {
  /* border: 1px solid black; */
  border-radius: 30px;
  padding-top: 30px;
  padding-bottom: 50px;
  margin: auto;
  width: 80%;

  box-shadow: 
    -1px 0 0 1px rgba(255, 46, 175, 0.8),
    -1px -1px 0 1px rgba(48, 32, 255, 0.3), 
    -1px 1px 0 1px rgba(48, 32, 255, 1), 
    0 -1px 0 1px rgba(48, 32, 255, 1), 
    0 1px 0 1px rgba(48, 32, 255, 1), 
    1px -1px 0 1px rgba(48, 32, 255, 1), 
    1px 1px 0 1px rgba(48, 32, 255, 1), 
    1px 0 0 1px rgba(255, 46, 175, 1);
}

.about__icons {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 300px;
  padding: 20px 0;
}

.about__icon {
  margin: auto;
}

.about__simple--text {
  width: 40%;
  margin: auto;
}

/* 
==================================================================
                    SECTION HISTORY
==================================================================
*/

.history {
  padding-top: 100px;
}

.history__achieving {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.history__title--time {
  font-size: 32px;
  line-height: 30px;
  font-weight: 700;

  padding-bottom: 40px;
  padding-top: 40px;

  color: #FD749B;
}

.history__line--item {
  padding: 40px;
}

.history__tree {
  flex: 0 1 20%;
}

.history__simple--left {
  width: 75%;
  margin-right: 0;
  margin-left: 25%;
}

.left__side {
  display: flex;
  flex: 0 1 100%;
  flex-direction: column;
  padding: 0 30px;
  text-align: right;
}

.right__side {
  display: flex;
  flex: 0 1 100%;
  flex-direction: column;
  text-align: left;
  padding: 0 30px;
}

.history__tobecontinue {
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
}

/* 
==================================================================
                    SECTION TEAM
==================================================================
*/
.team {
  padding-top: 150px;
  padding-bottom: 60px;
}

.team__photo {
  display: flex;
  justify-content: center;
  align-items: center
}

.team__photo--card:nth-child(1) img, 
.team__photo--card:nth-child(2) img
{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.team__photo--card:nth-child(4) img, 
.team__photo--card:nth-child(5) img
{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.team__simple--text {
  width: 35%;
  margin: 0 auto;
  padding-bottom: 60px;
}

.team__photo--card {
  position: relative;
}

.team__img {
  object-fit: cover;
  object-position: 0 0;

  /* border-radius: 15px; */
}

.center--card img{
  width: 300px;
  height: 300px;

  border-radius: 15px;
}

.second--card img{
  width: 250px;
  height: 235px;

  opacity: 70%;
}

.third--card img {
  width: 200px;
  height: 185px;

  opacity: 50%;
}



.team__name--item{
  display: none;
}

.team__name--item p {
  font-size: 12px;
  line-height: 18px;
}

.team__name--item p:nth-child(1) {
  font-weight: 700;
}

.center--card:hover::after img {

  content: "";
  background: linear-gradient(181deg, #fd749b86 -12.41%, #281ac86e 88.56%);
}

.center--card:hover .overlayed {
  display:block;
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height:95%;
  border-radius: 15px;
  background: linear-gradient(to top, #281AC8, #FD749B);
  opacity: 40%;
}

.center--card:hover .team__name--item {
  display: block;
  position: absolute;

  text-align: left;
  bottom: 30px;
  left: 20px;

  color: white;
}


/* 
==================================================================
                    SECTION SUBSCRIBE
==================================================================
*/

.subscribe {
  padding-bottom: 150px;
}

.subscribe__simple-text p {
  white-space: pre-line;
  padding-bottom: 60px;
}

.subscribe__form {
  display: flex;
  justify-content: center;
}

.email {
  border: none;
  padding-left: 20px;
  width: 380px;
  height: 45px;
  margin-right: 10px;
  border-radius: 100px;
  box-shadow: 
    -1px 0 0 1px rgba(255, 46, 175, 0.8),
    -1px -1px 0 1px rgba(48, 32, 255, 0.3), 
    -1px 1px 0 1px rgba(48, 32, 255, 1), 
    0 -1px 0 1px rgba(125, 32, 255, 59%), 
    0 1px 0 1px rgba(48, 32, 255, 1), 
    1px -1px 0 1px rgba(178, 32, 255, 75%), 
    1px 1px 0 1px rgba(48, 32, 255, 44%), 
    1px 0 0 1px rgba(255, 46, 175, 1);
}

.email {
  color: #333;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}

.email:focus {
  outline: none;
}

/* 
==================================================================
                    SECTION FOOTER
==================================================================
*/

.footer {
  padding-top: 70px;
  padding-bottom: 50px;
  background-color: #151515;
  color: #fff;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer--social-media svg {
  margin-bottom: 10px;
}

.footer__simple--text {
  color: #A2A2A2;
  font-size: 14px;
  line-height: 21px;
  white-space: pre-line;
  margin-bottom: 20px;
}

.social-media--icons {
  display: flex;
}

.social-media--icons img {
  margin-right: 5px;
  padding: 5px;
}

/* footer links */
.links--title {
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 30px;
}

.container--links li{
  list-style-type: none;
}

.container--links a {
  color: #A2A2A2;
  font-size: 12px;
  line-height: 30px; 

  text-decoration: none;
}

/* footer contacts */
.contacts-info {
  color: #A2A2A2;
  font-size: 12px;
  line-height: 30px; 
  padding-bottom: 30px;
}

.contacts--title {
  color: #fff;
}

.download-app a {
  color: #A2A2A2;
  font-size: 12px;
  line-height: 30px; 
  text-decoration: none;
}

.download-app:hover a {
  border-bottom: 1px solid white;
}

.contacts--title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  padding-bottom: 30px;
}

.insta--title {
  margin-bottom: 30px;
}

.insta--photos {
  display: flex;
  flex-wrap: wrap;
}

.insta--photos img {
  margin-right: 10px;
  margin-bottom: 10px;
}

.footer--instagram {
  width: 25%;
}