@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 16px;
  font-family: 'Poppins', sans-serif;
}

li {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 1500px;
}

.paragraph {
  text-align: center;
  font-size: 1rem;
  line-height: 2.5rem;
  font-weight: 400;
}


.line {
  display: block;
  height: 7px;
  width: 50px;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  background: #FD749B;
}
/* 
==================================================================
                    HEADER
==================================================================
*/

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  padding-top: 3.4375rem;
  padding-bottom: 3.4375rem;
}

@media (max-width: 1025px) {
  .navigation {
    display: none;
  }
}

/* 
==================================================================
                    LOGO
==================================================================
*/

.logo {
  display: flex;
}

.logo__icon {
  position: relative;
}

.logo__letter {
  position: absolute;
  left: 14px;
  top: 6px;
}


/* 
==================================================================
                    NAVIGATION
==================================================================
*/

.navigation {
  flex-basis: 30%;
}

.navigation ol {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__item {
  list-style-type: none;
  margin-bottom: 0.1875rem;
}

.nav__item a {
  position: relative;
  font-size: 0.875rem;
  font-weight: 700;
  color: #333;
  line-height: 1.25rem;
  text-decoration: none;
}

.nav__item:hover a::after {
  position: absolute;
  background-color: #FD749B;
  display: block;
  content: "";
  border-radius: 3px;
  height: 3px;
  width: 40%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  flex-basis: 25%;
  align-items: flex-end;
}

.sell__bitcoin {
  position: relative;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.3125rem;

  color: #333;
}

/* dropdown menu */

.mainmenubtn {
  position: relative;

  font-size: 0.875rem;
  font-weight: 700;
  color: #333;
  line-height: 1.25rem;
  text-decoration: none;
  background-color: white;
  border: none;
  cursor: pointer;
}

.mainmenubtn::after {
  content: "";
  position: absolute;
  background-image: url('../images/icons/small__size/Dropdown_Button.svg');
  width: 10px;
  height: 10px;

  top: 50%;
  right: -14px;
  transform: translateY(-40%);

  background-size: 10px 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
  border: 20px solid transparent;
}

.dropdown-child::before {
  content: "";
  position: absolute;
  background-image: url('../images/icons/big__size/triangle.svg');
  width: 10px;
  height: 10px;

  left: 10px;
  top: -12px;

  background-size: 10px 10px;
}

.dropdown-child {
  position: absolute;
  display: none;
  border: 1px solid #E0E0E0;
  background-color: white;
  min-width: 178px;
  border-radius: 5px;

  left: 95%;
  top: 30px;

  z-index: 1;
}

.dropdown-child a {
  color: #333333;
  padding-left: 0.75rem;
  padding-right: 2.5rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  text-decoration: none;
  display: block;
}

.dropdown-child a:hover {
  color: white;
  display: block;
  border-radius: 5px;

  background: linear-gradient(180deg, #FD749B -13.56%, #281AC8 158.3%);
}

.dropdown:hover .dropdown-child {
  display: block;
}

/* login button */

.login__button {
  font-size: 0.875rem;
  font-weight: 700;
  color: #fff;
  padding: 1.0625rem 3.5625rem;
  margin-top: -1.25rem;

  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  border-radius: 100px;
  border: none;
}

@media screen and (max-width: 1024px) {
  .sell__bitcoin {
    display: none;
  }
  
}
/* 
==================================================================
                    SECTION BANNER
==================================================================
*/
.banner {
  padding-bottom: 9.0625rem;
}

.banner__BG {
  background-image:  linear-gradient(174.48deg, #FD749B -12.41%, #281AC8 88.56%);
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  clip-path: url(#my-clip-path);
}

.banner__content {
  display: flex;
  justify-content: space-between;

  padding-bottom: 6.25rem;
}

.banner__item {
  flex-basis: 40%;
}

/* text */

.banner__text {
  padding-left: 3.75rem;
  width: 40%;
}

.banner__path p {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.125rem;

  color: #fff;
}

.banner__slogan {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.75rem;

  color: #fff;
}

.banner__description p{
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.6875rem;
  white-space: pre-line;

  color: #fff;
}

/* image */

.banner__image {
  width: 55%;
}

.banner__image img {
  max-width: 100%
}

@media screen and (max-width: 860px) {
  .banner__content {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }

  .banner__text {
    width: 100%;
    margin-bottom: 2rem;
  }

  .banner__slogan p {
    font-size: 4vw;
    line-height: 1.5;
  }

  .banner__path p {
    font-size: 1vw;
    line-height: 1.5;
  }

  .banner__description p {
    font-size: 2vw;
    line-height: 1.5;
  }
}

/* 
==================================================================
                    SECTION TEXT
==================================================================
*/
.gradient--title p {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 4.0625rem;

  background: linear-gradient(181deg, #FD749B 33.59%, #281AC8 97.56%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient--text p {
  background: linear-gradient(181deg, #FD749B 33.59%, #281AC8 97.56%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.simple__text {
  margin: auto;
  white-space: pre-line;
}

.intro {
  font-size: 1.125rem;
  margin-top: -8.75rem;
  font-weight: 700;
}

.author {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5625rem;

  padding-bottom: 4.375rem;
}

/* 
==================================================================
                    SECTION ABOUT
==================================================================
*/

.about__border {
  padding-top: 1.875rem;
  padding-bottom: 3.125rem;

  margin: auto;
  width: 80%;

  border-radius: 30px;
  border: 1px solid transparent;

  background-image: linear-gradient(white, white), linear-gradient(#fd749b, #281ac8);
  background-origin: border-box;
  background-clip: padding-box, border-box;

  /* box-shadow: 
    -1px 0 0 1px rgba(255, 46, 175, 0.8),
    -1px -1px 0 1px rgba(48, 32, 255, 0.3), 
    -1px 1px 0 1px rgba(48, 32, 255, 1), 
    0 -1px 0 1px rgba(48, 32, 255, 1), 
    0 1px 0 1px rgba(48, 32, 255, 1), 
    1px -1px 0 1px rgba(48, 32, 255, 1), 
    1px 1px 0 1px rgba(48, 32, 255, 1), 
    1px 0 0 1px rgba(255, 46, 175, 1); */
}

.about__icons {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 300px;
  padding: 1.25rem 0;
}

.about__icon {
  margin: auto;
}

.about__simple--text {
  width: 40%;
  margin: auto;
}

@media screen and (max-width: 750px) {
  .about__image img {
    max-width: 100%;
  }
}

/* 
==================================================================
                    SECTION HISTORY
==================================================================
*/

.history {
  padding-top: 6.25rem;
}

.history__achieving {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.875rem;
}

.history__achieving::after {
  content: "";
  clear: both;
  display: block;
}

.history__title--time {
  font-size: 2rem;
  line-height: 1.875rem;
  font-weight: 700;

  padding-bottom: 2.5rem;
  padding-top: 2.5rem;

  color: #FD749B;
}

.history__tree {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 3.125rem;
  transform: translateX(-50%);

  background-image: url(../images/Tree.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

@media screen and (max-width: 1240px) {
  .history__tree {
    width: 30px
  }
}

.history__events {
  display: flex;
  flex-direction: column;
}

.history__line--item {
  text-align: right;
  width: calc(50% - 3.125rem);
  padding-bottom: 2.5rem;

  padding-left: 14.0625rem;
}

.history__line--item:nth-child(even) {
  text-align: left;
  align-self: flex-end;

  padding-left: 0;
  padding-right: 14.0625rem;
}

.history__tobecontinue {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 700;
}

/* media-queries */

@media (max-width: 1025px) {
  .history__tree {
    display: none;
  }

  .history__events .history__line--item {
    align-self: center;
    text-align: center;
    padding: 0;
  }
}

/* 
==================================================================
                    SECTION TEAM
==================================================================
*/
.team {
  padding-top: 9.375rem;
  padding-bottom: 3.75rem;
}

.team__photo {
  display: flex;
  justify-content: center;
  align-items: center
}

.team__photo--card:nth-child(1) img, 
.team__photo--card:nth-child(2) img
{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.team__photo--card:nth-child(4) img, 
.team__photo--card:nth-child(5) img
{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.team__simple--text {
  width: 35%;
  margin: 0 auto;
  padding-bottom: 3.75rem;
}

.team__photo--card {
  position: relative;
}

.team__img {
  object-fit: cover;
  object-position: 0 0;
}

.center--card img{
  width: 300px;
  height: 300px;

  border-radius: 15px;
}

.second--card img{
  width: 250px;
  height: 235px;

  opacity: 70%;
}

.third--card img {
  width: 200px;
  height: 185px;

  opacity: 50%;
}



.team__name--item{
  display: none;
}

.team__name--item p {
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.team__name--item p:nth-child(1) {
  font-weight: 700;
}

.center--card:hover::after img {

  content: "";
  background: linear-gradient(181deg, #fd749b86 -12.41%, #281ac86e 88.56%);
}

.center--card:hover .overlayed {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  border-radius: 15px;
  background: linear-gradient(to top, #281AC8, #FD749B);
  opacity: 40%;
}

.center--card:hover .team__name--item {
  display: block;
  position: absolute;

  text-align: left;
  bottom: 30px;
  left: 20px;

  color: white;
}

@media screen and (max-width: 1260px) {
  .team__photo {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .team__photo .team__photo--card .team__img{
    position: static;
    width: 210px;
    height: 210px;
    border-radius: 5px;

  }


}


/* 
==================================================================
                    SECTION SUBSCRIBE
==================================================================
*/

.subscribe {
  padding-bottom: 9.375rem;
}

.subscribe__simple-text p {
  white-space: pre-line;
  padding-bottom: 3.75rem;
}

.subscribe__form {
  display: flex;
  justify-content: center;
}

.email {
  border: none;
  width: 380px;
  height: 45px;

  padding-left: 1.25rem;
  margin-right: 0.625rem;

  border-radius: 100px;

  border-radius: 30px;
  border: 1px solid transparent;

  background-image: linear-gradient(white, white), linear-gradient(#fd749b, #281ac8);
  background-origin: border-box;
  background-clip: padding-box, border-box;

  /* box-shadow: 
    -1px 0 0 1px rgba(255, 46, 175, 0.8),
    -1px -1px 0 1px rgba(48, 32, 255, 0.3), 
    -1px 1px 0 1px rgba(48, 32, 255, 1), 
    0 -1px 0 1px rgba(125, 32, 255, 59%), 
    0 1px 0 1px rgba(48, 32, 255, 1), 
    1px -1px 0 1px rgba(178, 32, 255, 75%), 
    1px 1px 0 1px rgba(48, 32, 255, 44%), 
    1px 0 0 1px rgba(255, 46, 175, 1); */
}

.email {
  color: #333;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 400;

  text-transform: uppercase;
}

.email:focus {
  outline: none;
}

@media screen and (max-width: 640px) {
  .email {
    margin-bottom: 2rem;
  }
  
}

/* 
==================================================================
                    SECTION FOOTER
==================================================================
*/

.footer {
  padding-top: 4.375rem;
  padding-bottom: 3.125rem;
  background-color: #151515;
  color: #fff;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer--social-media svg {
  margin-bottom: 0.625rem;
}

.footer__simple--text {
  color: #A2A2A2;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  white-space: pre-line;
  margin-bottom: 1.25rem;
}

.social-media--icons {
  display: flex;
}

.social-media--icons img {
  margin-right: 0.3125rem;
  padding: 0.3125rem;
}

/* footer links */
.links--title {
  font-size: 1.125rem;
  line-height: 1.875rem;
  padding-bottom: 1.875rem;
}

.container--links li{
  list-style-type: none;
}

.container--links a {
  color: #A2A2A2;
  font-size: 0.75rem;
  line-height: 1.875rem; 

  text-decoration: none;
}

.links--item:hover a{
  border-bottom: 1px solid white;
}

/* footer contacts */
.contacts-info {
  color: #A2A2A2;
  font-size: 0.75rem;
  line-height: 1.875rem; 
  padding-bottom: 1.875rem;
}

.contact--item {
  color: #A2A2A2;
  text-decoration: none;
}

.contacts--title {
  color: #fff;
}

.download-app a {
  color: #A2A2A2;
  font-size: 0.75rem;
  line-height: 1.875rem; 
  text-decoration: none;
}

.download-app:hover a,
.contact--item:hover {
  border-bottom: 1px solid white;
}

.contacts--title {
  font-size: 1.125rem;
  line-height: 1.875rem;
  font-weight: 400;
  padding-bottom: 1.875rem;
}

.insta--title {
  margin-bottom: 1.875rem;
}

.insta--photos {
  display: flex;
  flex-wrap: wrap;
}

.insta--photos img {
  margin-right: 0.625rem;
  margin-bottom: 0.625rem;
}

.footer--instagram {
  width: 25%;
}

.insta--photos img:hover {
  opacity: 80%;
}

@media screen and (max-width: 640px) {
  .footer__container {
    flex-direction: column;
    width: 100%;
  }

  .insta--photos {
    width: 100%;
  }
}

@media screen and (max-width: 890px) {
  .footer--instagram {
    width: 100%;
  }
}